body {
    background-color: lightgrey ; 
}

.titre {
    font-size: 45px ;
    font-family: monospace ;
    float: none ;
    display: inline-block ;
    margin-bottom: -45px ;
    margin-left: 15px ;
}

.sous-titre {
    font-size: 15px ;
    font-family: monospace ;
    float: none ;
    display: inline-block ;
    margin-left: 10px ;
    max-width: 35 ;
}

span {
    color: #16006E ;
    font-size: 35px ;
}

.liste ul {
    display: table ;
    width: 100% ;
    padding: 0 ;
    background: -webkit-linear-gradient(deepskyblue, dodgerblue) ;
    background: -moz-linear-gradient(deepskyblue, dodgerblue) ;
    background: -ms-linear-gradient(deepskyblue, dodgerblue) ;
    background: -o-linear-gradient(deepskyblue, dodgerblue) ;
    background: linear-gradient(deepskyblue, dodgerblue) ;
    background: grey ;
    border-radius: 3px ;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15) ;
}

.liste ul li {
    display: table-cell ;
}

.liste ul li a {
    display: block ;
    text-align: center ;
    color: rgba(0, 0, 0, .7) ; 
    text-decoration: none ;
    padding: 8px 8px 17px 8px ;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4) ;
    transition: padding .3s ;
    color: white ;
    max-width: 500px ;
}

.liste ul li:first-child a {
    border-radius: 3px 0 0 3px ;
}

.liste ul li:last-child a {
    border-radius: 0 3px 3px 0 ;
}

.liste ul li a:hover, 
.liste ul li a:focus {
    background: rgba(255,255,255,.2) ;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
    padding: 8px 25px 17px 25px ;
} 

.liste ul li a:active {
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)) ; 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset ;
}

.title {
    text-align: center ;
}

.title h1 {
    font-size: 48px ;
    text-shadow: -1px -1px black, 1px 1px black, -3px 0 4px black ;
    border-radius: 3px ;
    background-color: grey ;
    font-family:"Segoe print", Arial, Helvetica, sans-serif ;
    color: lightgrey ;
    font-weight: lighter ;
    padding: 24px ;
    display: inline ;
    line-height: 150px ;
}

div h2 {    
    margin: 3% 0 2% 1% ;
    text-shadow: -1px -1px black, 1px 1px black, -3px 0 4px black ;
    box-shadow: 2px 2px 6px hsl(210, 100%, 42%) ;
    border-radius: 3px ;
    font-family:"Segoe print", Arial, Helvetica, sans-serif ;
    padding: 10px ;
    background-color: grey ;
    color: white ;
}

hr {
    height: 0 ;
    border: 0 ;
    box-shadow: 0 0 10px 1px black ;
}


.informations p {
    margin-left: 3% ;
    font-family:"Segoe print", Arial, Helvetica, sans-serif ;
}


.annonce {
    box-sizing: border-box ;
}

.image {
    width: 40% ;
    border-right: 1px solid grey ;
    padding-right: 2% ;
    display: inline-block ;
    margin-left: 10% ;
}

.image button {
	margin-top: 10px;
	width: 70%
}

.formulaire {    
    width: 40% ; 
    display: inline-block ; 
    margin-left: 2% ;
    float: right;
    
}

.grosse img {
    width: 60% ;
    min-height: auto ;
    color: white ;
	background-color: grey ;
}

.petites img {
    width: 30% ;
    min-height: auto ;
	background-color: grey;
}

.formulaire input {
	width: 50%;
}

.desc input {
	width: 70% ;
	height: 200px ;
}
	
@media all and (max-width: 450px){

	.image {
		width: 100%;
		margin: 0;
	}
	
	.grosse {
		margin-top: 10px;
	}
	
	.formulaire {
		width: 100%;
	}
	
    .formulaire input {
		width: 100%;
	}
	
	.desc input {
        height: 100px;
    }
	
	.image button {
		width: 100%;
	}

    .formulaire .valider input{
        width: 100%;
    }
}