body{
	background-color: lightgrey;
    width: 100%;
}

/**Titre principal*/
.Titre{
	font-size: 45px;
	font-family: monospace;
	float:none;
	display: inline-block;
	margin-bottom: -45px;
	margin-left: 15px;
}
/**Sous titre*/
.sous-titre{
	font-size: 15px;
	font-family: monospace;
	float:none;
	display: inline-block;
	margin-left: 10px;
	max-width: 35;
}
span{
	color: #16006E;
	font-size: 35px;
}

@media all and (max-width: 400px) {
    .row .t2{
       width: 95% !important;
    }
    .row .t2 a img{
    }
}

/** Barre de navigation*/
.NavBar ul{
	display: table;
    width: 100%;
    padding: 0;
    background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);
    background: grey;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);

}
.NavBar ul li{
	display: table-cell;
}
.NavBar ul li a{
	display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    transition: padding .3s;
    color: white;
    max-width: 500px;

}
.NavBar ul li:first-child a{
    border-radius: 3px 0 0 3px;
}
.NavBar ul li:last-child a{
    border-radius: 0 3px 3px 0;
}
.NavBar ul li a:hover, 
.NavBar ul li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
    padding: 8px 25px 17px 25px
} 
.NavBar ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
/*Page recherche*/
form{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px black solid;
    border-radius: 5px;
    vertical-align: middle;
    padding-bottom: 5px;
}

form .recherche{
    font-size: 20px;
    font-family: monospace;
    display: inline-block;
    text-align: center;
    margin-left: 47%;
    height: 10%;
    width: 10%;
}
form .recherche input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
}
.h3{
    font-size: 25px;
    font-family: monospace;
    margin-left: 3%
}

form .h4{
    font-size: 20px;
    font-family: monospace;
    display: inline-block;
    text-align: center;
    padding-left: 40%;
}
@media screen and (max-width: 650px){
    form {
        text-align: left !important;
        margin-left: 0%;

    }
    form .h4{
        width: 98%! important;
        padding-left: 5%;
        text-align:left !important;
    }
    form .h4 label{
        width: 98% !important;
        text-align: left;
        margin-left: 0% !important;
    }
    form .recherche input{
        width: auto !important;
        width: 120%;
        float: right;
    }
    form .h4 select{
        margin-left: -4% !important;
        width: 100% !important;
    }
    form .h4 input{
        margin-left: -3% !important;
        width: 98%;
    }
}
